%script{ id: "commit-container-template", type: "x-template" }
  %h1.title {{ title }}
  .body-wrap
    .body {{{ body }}}
  .diffs-wrap
    {{# diffs }}
    %div{ class: "diff-file {{ status }}" }
      .diff-header
        %span {{ path }}
      .diff-content
        {{{ html }}}
    {{/ diffs }}
