%script{ id: "commit-container-template", type: "x-template" }
  #lesson-pane
    .section-inner
      .readme-content
        {{{ lesson }}}
  #code-pane
    .section-inner
      .diffs-wrap
        {{# diffs }}
        .diff-file{ class: "{{ status }}" }
          .diff-header
            %span {{ path }}
          .diff-content
            {{{ html }}}
        {{/ diffs }}
      {{# output }}
      %h3.section-heading Expected Output
      {{/ output }}
      .readme-content
        {{{ output }}}
