%script{ id: "commit-container-template", type: "x-template" }
  %h2.title {{ title }}
  .body {{ body }}
  .hunks-wrap
    {{# hunks }}
    %div{ class: "diff-file {{ status }}" }
      .diff-header
        %span {{ path }}
      .diff-content
        {{{ html }}}
    {{/ hunks }}
