%script{ id: "commit-container-template", type: "x-template" }
  .section-inner
    .readme-content
      {{{ lesson }}}
    .diffs-wrap
      {{# hasDiffs }}
      %h2.section-heading File Changes
      {{/ hasDiffs }}
      {{# diffs }}
      .diff-file{ class: "{{ status }}" }
        .diff-header
          %span {{ path }}
        .diff-content
          {{{ html }}}
      {{/ diffs }}
    .readme-content
      {{# output }}
      %h2.section-heading
        Expected Output
      {{/ output }}
      {{{ output }}}
