#top-bar
  %a.home{ href: "/" } More Courses
  #prev-next
    %a.next{ href: "#" }
      %i.fa.fa-chevron-right
    %a.prev{ href: "#" }
      %i.fa.fa-chevron-left
  #step-status

#top-bar-spacer
#container
  #main-commit-container.section-two-wrap


= render partial: "templates/main-commit"

- content_for :page_javascripts do
  :plain
    Narly.env.commits = new Narly.Steps();
    var i = 0, total = #{ @repo.commit_count };
    while(total--) {
        Narly.env.commits.add({ index : i });
        i++;
    }
    Narly.env.commits.courseName = '#{ @repo.name }';
    new Narly.StepsView({ collection: Narly.env.commits });
    new Narly.TopBar({ el: '#top-bar' });
    new Narly.PrevNextView({ el: '#prev-next', collection: Narly.env.commits });
    Narly.env.commits.fetchFromHash(window.location.hash);
