#top-bar
  %a.home{ href: "/" } More Courses
  %a.toc-toggle{ href: "#" }
    %i.fa.fa-bars
  #prev-next
    %a.next{ href: "#" }
      %i.fa.fa-chevron-right
    %a.prev{ href: "#" }
      %i.fa.fa-chevron-left

#top-bar-spacer
#container
  #secondary-wrap
    #world
      %div
        File Tree Snapshot
  #main-commit-container.section-two-wrap
  #prev-next-bottom
    %a.next{ href: "#" }
      %i.fa.fa-chevron-right
    %a.prev{ href: "#" }
      %i.fa.fa-chevron-left


= render partial: "templates/main-commit"

- content_for :page_javascripts do
  :plain
    Narly.env.commits = new Narly.Commits(#{ @repo.commits.to_json.html_safe });
    Narly.env.commits.courseName = '#{ @repo.name }';
    var $tableOfContents = new Narly.CommitsView({ collection: Narly.env.commits })
    $("body").append($tableOfContents.render());
    new Narly.TopBar({ el: '#top-bar' });
    new Narly.PrevNextView({ el: '#prev-next', collection: Narly.env.commits });
    new Narly.PrevNextView({ el: '#prev-next-bottom', collection: Narly.env.commits });
    Narly.env.commits.at(#{ @index.to_i }).fetch();
