$modified-color: #F9CF4F;
$added-color: #64B73A;
$deleted-color: #F5A2A2;
$bold-blue: #1C9EDB;
$bold-green: #64B73A;

/*
http://www.colourlovers.com/palette/3304711/Moja_prva
http://www.colourlovers.com/palette/74212/Scrimshaw
*/

body {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
#top-bar {
  position:fixed;
  height:40px;
  width:100%;
  z-index: 10;
  background-color:#FFF;
  border-bottom:2px solid $bold-blue;
  .toc-toggle {
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    display:block;
    padding:0 20px;
    line-height: 40px;
    text-align: center;
    background-color: $bold-blue;
    color:#FFF;
    text-decoration: none;
    &:hover {
      background-color:#444;
    }
  }
}
#prev-next {
  z-index:10;
  position:absolute;
  top:0;
  right:0;
  background-color: $bold-blue;
  a {
    height: 40px;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    color: #FFF;
    text-decoration: none;
    &:hover {
      background-color:#444;
    }
    &.prev {

    }
    &.next {

    }

  }
}

#footer {
  clear:both;
  padding:20px 10px;
  color:#1C9EDB;
  font-size: 10px;
}

#table-of-contents {
  display: none;
  position: fixed;
  left:0;
  top:41px;
  bottom:0;
  width:300px;
  padding:0;
  margin: 0;
  overflow: auto;
  border-right:2px solid $bold-blue;
  font-size: 14px;
  li {
    list-style-position: inside;
    color: #555;
    border-bottom:1px solid #FBF8F5;
    &:hover, &.active {
      color:#FFF;
      a {
        background-color: $bold-blue;
        color:#FFF;
      }
    }
    a {
      display: block;
      padding:7px 15px;
      text-decoration: none;
      color:inherit;
      font-size:inherit;
    }
    &:last-child {
      border-bottom:0;
    }
  }
}
body.toc-expand {
  #table-of-contents {
    display:block;
  }
  #main-commit-container {
    left:300px;
  }
  #world {
    left: 81%;
  }
}

#main-commit-container {
  position:absolute;
  top:41px;
  left:0;
  right:0;
  margin-bottom: 40px;
  overflow: hidden;
  .title {
    margin:0;
    position:fixed;
    left:70px;
    top:0px;
    z-index:11;
    background-color:#FFF;
    height:40px;
    line-height:40px;
    color: #1C9EDB;
    font-size: 20px;
  }
  .body-wrap {
    float:left;
    width:25%;
    .body {
      padding:15px;
      background-color: #FFF;
      line-height: 1.5em;
      color: #444;
    }
  }

  .file-list-wrap {
    width:50%;
    float:right;
    .file-list {
      margin:0;
      padding:0 0 0 15px;
      li {
        list-style: none;
        margin-bottom: 3px;
        padding:3px;
        span {
          padding:3px;
        }
        &.modified {
          border-left:3px solid;
          border-color: $modified-color;
        }
        &.deleted {
          border-left:3px solid;
          border-color: $deleted-color;
        }
        &.added {
          border-left:3px solid;
          border-color: $added-color;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .hunks-wrap {
    width:50%;
    float:left;
    margin-top: 20px;
    .hunk {
      margin-bottom:10px;
      border-left:5px solid;
      border-top:1px solid;
      overflow: auto;

      &.modified {
        border-color:#F9CF4F;
      }
      &.deleted {
        border-color:#F5A2A2;
      }
      &.added {
        border-color:#64B73A;
      }
    }

    .diff-file {
      &.modified .diff-header {
        border-bottom:2px solid $modified-color;
      }
      &.deleted .diff-header {
        border-bottom:2px solid $deleted-color;
      }
      &.added .diff-header{
        border-bottom:2px solid $added-color;
      }
    }
  }
}

table {
  padding:0;
  margin:0;
  width:100%;
  border-collapse: collapse;
  tr {
    padding:0;
    margin:0;
  }
  td {
    &.addition {
      background-color: #CFD;
    }
    &.deletion {
      background-color: #FDD;
    }
  }  
}
