$modified-color: #F9CF4F;
$added-color: #64B73A;
$deleted-color: #F5A2A2;
$bold-blue: #1C9EDB;
$bold-blue-contrast: #1886b9;
$bold-green: #64B73A;

/*
http://www.colourlovers.com/palette/3304711/Moja_prva
http://www.colourlovers.com/palette/74212/Scrimshaw
*/

body {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin:0 0 20px 0;
}
#top-bar {
  position:fixed;
  height:40px;
  width:100%;
  z-index: 10;
  background-color:#FFF;
  border-bottom: 1px solid $bold-blue;
  a {
    border-right:1px solid #eee;
  }
  .home {
    float:right;
    display:block;
    line-height: 40px;
    padding:0 20px;
    color: $bold-blue;
    text-decoration: none;
    border-left:1px solid #eee;
    border-right: 0;
    &:hover {
      color: #FFF;
      background-color: $bold-blue;
    }
  }
  .toc-toggle {
    z-index:10;
    position:absolute;
    top:0;
    left:0;
    display:block;
    padding:0 20px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    color: $bold-blue;
    text-decoration: none;
    &:hover {
      color: #FFF;
      background-color: $bold-blue-contrast;
    }
  }
}
#top-bar-spacer {
  height:41px;
}
#prev-next {
  z-index:10;
  position:fixed;
  top:0;
  left:56px;
  background-color: #FFF;
  a {
    height: 40px;
    display:block;
    float:right;
    padding: 0 20px;
    line-height: 40px;
    color: $bold-blue;
    text-decoration: none;
    &:hover {
      color: #FFF;
      background-color: $bold-blue;
    }
    &.prev {

    }
    &.next {

    }

  }
}

#container {
  width:100%;
  position:relative;
  overflow:visible;
}
#prev-next-bottom {
  clear:both;
  width:80px;
  height:40px;
  margin:auto;
  margin-bottom: 40px;

  a {
    display:block;
    float:right;
    height: 40px;
    width:40px;
    line-height: 40px;
    color: $bold-blue;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    &:hover {
      color: $bold-blue-contrast;
    }
  }
}

#footer {
  clear:both;
  padding:20px 10px;
  color:#1C9EDB;
  font-size: 10px;
}

#table-of-contents {
  display: none;
  position: fixed;
  left:0;
  top:41px;
  bottom:0;
  width:300px;
  padding:0;
  margin: 0;
  overflow: auto;
  border-right:1px solid #eee;
  background-color: #FBF8F5;
  font-size: 13px;
  li {
    list-style-position: inside;
    color: #555;
    border-bottom:1px solid #eee;
    &:hover, &.active {
      color:#FFF;
      a {
        background-color: $bold-blue;
        color:#FFF;
      }
    }
    a {
      display: block;
      padding:7px 15px;
      text-decoration: none;
      color:inherit;
      font-size:inherit;
    }
    &:last-child {
      border-bottom:0;
    }
  }
}
body.toc-expand {
  #table-of-contents {
    display:block;
  }
}

#secondary-wrap {
  float:right;
  width:25%;
  #world {
    padding:20px;

    h5 {
      margin:0;
    }
  }
}

#main-commit-container {
  width:50%;
  float:right;

  .section-inner {
    padding:20px;
  }
}

table {
  padding:0;
  margin:0;
  width:100%;
  border-collapse: collapse;
  tr {
    padding:0;
    margin:0;
  }
  td {
    &.addition {
      background-color: #CFD;
    }
    &.deletion {
      background-color: #FDD;
    }
  }  
}



@media all and (max-width: 767px) {
  #table-of-contents {
    display:none !important;
  }
  #secondary-wrap {
    float:none;
    width:100%;
    height:300px;
    overflow: auto;
    border-bottom:1px solid #ccc;
  }
  #main-commit-container {
    float:none;
    width:100%;
  }
}

@media all and (min-width: 767px) {
  #left-pane {
    display: block !important; }
}
